---
layout: default
---

<div class="home-page">
  <img class="photo" src="https://avatars3.githubusercontent.com/u/2352321?v=3&amp;s=460" height="150" >
  <h2>{{ site.title }}</h2>
  <p>iOS and macOS Engineer. Also does designing in Sketch</p>

  <p class="work">
    <a href="/apps" >
      <span>{% include icons/app.svg %}</span>
      Apps</a> |
    <a target="_blank" href="{{ site.link_to.github }}">
      <span>{% include icons/github.svg %}</span>Github
    </a> |
    <a target="_blank" href="{{ site.link_to.cocoa_all_pods }}">
      <span>{% include icons/cocoapods.svg %}</span>Cocoa Pods
    </a>
  </p>  
  <p class="social">
    <a href="{{ site.link_to.twitter }}">
      <span>{% include icons/twitter.svg %}</span>
    </a>
    <a href="{{ site.link_to.facebook }}">
      <span>{% include icons/facebook.svg %}</span>
    </a>
    <a href="{{ site.link_to.linkedin }}">
      <span>{% include icons/linkedin.svg %}</span>
    </a>
    <a href="https://stackoverflow.com/users/1311902/kaunteya">
      <span>{% include icons/stackoverflow.svg %}</span>
    </a>
  </p>
</div>
