.image-title-row {
    margin-top: 7rem;
    display: block;
}

.feature-item {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
}

section.app-store {
    margin-top: 10rem;
    margin-bottom: 10rem;
}